@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap");

* {
  font-family: "Lato", sans-serif;
  margin-right: 20px;
  margin-left: 20px;
}

body {
  background-color: #231557;
}

.header {
  text-shadow: 6px 9px #1c1919;
  font-size: 160%;
  background-color: rgb(236, 213, 232);
  color: rgb(253, 194, 57);
  opacity: 6;
  font-weight: bold;
  text-align: center;
  padding: 40px;
  border-radius: 15px;
  margin: 10px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ53OzE4mdgyjmOugPXHWJhNTjDF2vt2lHt8Q&usqp=CAU");
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZkrvZj85aHOgmq9Ggv3eKbCr1dk-kru3QQA&usqp=CAU"); */
}

.inputSection {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 80px;
  /* margin: 10px; */
  padding: 0px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  line-height: 1.3;
  background-color: rgb(251, 237, 219);
  padding: 8px;
  text-align: center;
  margin: 10px;
  border-radius: 15px;
  border: 2px solid rgb(216, 167, 175);
}

.random {
  line-height: 1.3;
  background-color: rgb(148, 231, 254);
  padding: 8px;
  text-align: center;
  margin: 10px;
  width: 70%;
  border-radius: 15px;
  border: 1px solid rgb(216, 167, 175);
}

.search {
  margin: auto;
}

.poetName {
  margin: 7px;
}

.poetName:hover {
  background-color: rgb(237, 237, 182);
}

.submitButton {
  margin: 7px;
  padding-left: 8px;
  width: 50%;
}

.submitButton:hover {
  background-color: rgb(118, 92, 160);
  color: white;
}

.poetName {
  padding-left: 10px;
  padding-right: 10px;
}

.filler {
  color: antiquewhite;
}

.error {
  display: none;
  color: lightsalmon;
}

article {
  margin: 30px;
}

h4 {
  margin: 20px;
  text-decoration: double;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 10px;
  border: 2px dotted rgb(153, 79, 79);
  border-radius: 15px;

  background-color: rgb(246, 238, 223);
}

.randomLink:hover {
  background-color: rgb(233, 200, 128);
}

footer {
  text-align: right;
  margin: 5px;
}

footer {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #7154d9 0%,
    #e29f41 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-size: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgb(68, 68, 233);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 174, 0);
  border-radius: 100vm;
}
