* {
  font-family: monospace;
  margin-right: 20px;
  margin-left: 20px;
}

body {
  background-color: rgb(229, 223, 249);
}

.header {
  font-size: 160%;
  background-color: rgb(236, 213, 232);
  color: rgb(253, 194, 57);
  font-weight: bold;
  text-align: center;
  padding: 40px;
  border-radius: 15px;
  margin: 10px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ53OzE4mdgyjmOugPXHWJhNTjDF2vt2lHt8Q&usqp=CAU");
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZkrvZj85aHOgmq9Ggv3eKbCr1dk-kru3QQA&usqp=CAU"); */
}

.inputSection {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 80px;
  /* margin: 10px; */
  padding: 0px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  line-height: 1.3;
  background-color: rgb(251, 237, 219);
  padding: 8px;
  text-align: center;
  margin: 10px;
  border-radius: 15px;
  border: 5px dotted rgb(216, 167, 175);
}

.random {
  line-height: 1.3;
  background-color: rgb(148, 231, 254);
  padding: 8px;
  text-align: center;
  margin: 10px;
  width: 60%;
  border-radius: 50%;
  border: 5px dotted rgb(216, 167, 175);
}

.poetName {
  margin: 7px;
}

.poetName:hover {
  background-color: rgb(237, 237, 182);
}

.submitButton {
  margin: 7px;
  padding-left: 8px;
  width: 50%;
  /* margin-right: 8px; */
}

.submitButton:hover {
  background-color: rgb(118, 92, 160);
  color: white;
}

.poetName {
  padding-left: 10px;
  padding-right: 10px;
}

article {
  margin: 30px;
}

h4 {
  margin: 20px;
  text-decoration: double;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 10px;
  border: 5px dotted rgb(153, 79, 79);
  border-radius: 15px;
  background-color: rgb(246, 238, 223);
}

.randomLink:hover {
  background-color: rgb(233, 200, 128);
}
